<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="Theme" value="light"/>
		<add key="UseOtherDb" value="False"/>
	</appSettings>

	<connectionStrings>
		<add name="Database" connectionString="\\WS232-00\Users\student\TestDB\MessangerDB.db"/>
	</connectionStrings>
	
</configuration>
